<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet"> 
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
      <a class="navbar-brand" href="/" style="font-weight: 900; font-size:30px;">RATE MY LANDLORD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/map.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/landlords/new">Add Landlord</a>
            </li>
            
          </ul>
          
        </div>
      </div>
  </nav>
    
  <style>
  
    body{
      color: white;
    }
  </style>
  <div class="container" style="margin-top: 30px; float: center;">
    <div style="color:white" class="pb-2 border-bottom">
      <%= lords.length %> results found
    </div>
    <div class="row pt-2" style="font-size: 16px; font-weight: 600;">
      <div class="col-3 mb-3">
        NAME
      </div>
      <div class="col mb-3">
        ADDRESS
      </div>
      <div class="col-2 mb-3">
        RATING
      </div>
    </div>
    <% lords.forEach(function(lord){ %>
    <tr>
      <div class="row">
        <td >
          <div class="col-3">
            <a href="/landlords/<%=lord._id%>"><span class="content" style="color:white;"><%=lord.name%></span></a>
          </div>
        </td >
        <td>
          <div class="col" style="">
            <span class="content"><%=lord.location%></span>
          </div>
        </td>
        <td>
          <% var rating = 0 %>
          <% var count = 0 %>
          <% lord.reviews.forEach(function(corse){ %>
            <% rating += corse.rating %>
            <% lord.Total_rating = rating %>
            <% count++ %>
            <% lord.Total_count = count %>
          <% }) %>
          <div class="col-2" style="">
            <span class="content"><% lord.rating = lord.Total_rating/lord.Total_count %></span>
            <span class="content"><%= lord.rating.toFixed(1) %></span>
          </div>
        </td>
      </div>
    </tr>  
    <% }) %>
  </div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqLAmRG0zNVBs_IBTdcIxJvlyXt4B6cM0&callback=initMap"
    async defer></script>
    <script src="/public/js/gmaps.js"></script>
    <script src="js/srch_req.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>